<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlpesOne</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="box-header">
            <div class="box-contacts">
                <div class="phone">
                    <img class="icon" src="/public/img/icons/svg/telefone.svg" alt="telefone de contato">
                    <p class="phone-number">(21) 2042-4442</p>
                </div>
    
                <div class="tour toggle">
                    <img src="/public/img/icons/svg/360.svg" alt="tour virtual" class="tour">
                    <p class="tour">tour virtual</p>
                </div>
    
                <div class="whatsapp toggle">
                    <img src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp" class="whatsapp">
                </div>
            </div>
    
            <div class="box-options toggle"></div>
        </div>
       
        <div class="logo">
            <img src="/public/img/imgs/logos/logo-bmw-rio.svg" alt="logomarga BMW" class="logomarca">
        </div>
    </header>

    <section class="price">
       <p class="price"><a class="price" href="/views/form.html"> Solicite uma cotação</p></a>
    </section>

    <section>
        <div class="banner">
            <img src="/public/img/imgs/banners/mobile-banner.png" alt="BMW serie 3 sedan M" class="banner">
        </div>
    </section>

    <section class="cards">
        <p class="card-title">escolha seu bmw</p>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/serie1.png" alt="BMW serie 1">
            <p class="name-car">BMW Série 1</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/m3.png" alt="BMW M3 Competition">
            <p class="name-car">BMW M3 Competition</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/m5.png" alt="BMW M5">
            <p class="name-car">BMW M5</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/x2.png" alt="BMW X2">
            <p class="name-car">BMW X2</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/serie-4.png" alt="BMW serie 4">
            <p class="name-car">BMW Série 4</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/serie-3.png" alt="BMW serie 3">
            <p class="name-car">BMW Série 3</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/z4.png" alt="BMW Z4">
            <p class="name-car">BMW Z4</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>

        <div class="card">
            <img class="card" src="/public/img/imgs/veiculos/serie2.png" alt="BMW Série 2">
            <p class="name-car">BMW Série 2</p>
            <div class="buttons">
                <button class="button quote">Cotação</button>
                <button class="button call">Ligar</button>
            </div>
            <div class="social-media">
                <p class="social-media">Compartilhe:</p>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/facebook.svg" alt="facebook"></a>
                <a class="social-media" href="#"><img class="social-media" src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>        
            
    </section>

    <footer>
        <div class="text-footer">
            <p class="footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta sequi deleniti repellendus perferendis, aliquam eligendi harum quaerat eos ab amet consequatur commodi mollitia asperiores iste quibusdam dolorem. Voluptate, quo.</p>
        </div>

        <div class="detail"></div>

        <div class="copyright">
            <span>&#169;</span> Copyright <span>&#169;</span> 2021 Lorem ipsum dolor sit amet.
        </div>

        <div class="logo-alpes">
            <p class="logo-alpes">Faito por:</p>
            <img src="/public/img/imgs/logos/logo-alpes.png" alt="Alpes One">
        </div>
        

    </footer>
</body>
</html>