<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlpesOne</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="box-header">
            <div class="box-contacts">
                <div class="phone">
                    <img class="icon" src="/public/img/icons/svg/telefone.svg" alt="telefone de contato">
                    <p class="phone-number">(21) 2042-4442</p>
                </div>
    
                <div class="tour toggle">
                    <img src="/public/img/icons/svg/360.svg" alt="tour virtual" class="tour">
                    <p class="tour">tour virtual</p>
                </div>
    
                <div class="whatsapp toggle">
                    <img src="/public/img/icons/svg/whatsapp.svg" alt="whatsapp" class="whatsapp">
                </div>
            </div>
    
            <div class="box-options toggle"></div>
        </div>
       
        <div class="logo">
            <img src="/public/img/imgs/logos/logo-bmw-rio.svg" alt="logomarga BMW" class="logo">
        </div>
    </header>


    <section>

    </section>

    <footer>

    </footer>
</body>
</html>