body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-white: #ffffff;
    --bg-color-gray-one: #E6E6E6;
    --bg-color-gray-two: #BBBBBB;
    --bg-color-gray-three: #666666;
    --bg-color-gray-four: #4D4D4D;
    --bg-color-black-text: #262626;
    --bg-color-black: #000000;
    --bg-color-green: #25D366;
    --bg-color-blue-one: #1C69D4;
    --bg-color-blue-two-hover: #0653B6;
}

.toggle {
    display: none;
}

header {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 20px 20px 16px;
}

.box-contacts {
    display: flex;
    align-items: center;
    height: 19px;
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 3px;
    color: var(--bg-color-gray-three); 
}

img.icon {
    color: var(--bg-color-gray-three);
    width: 19px;
    margin-right: 10px;
}

.logo {
    margin: 13px 16px 12.5px 13px;
}
    
img.logomarca {
    height: 34.5px;   
}

section.price {
    background-color: var(--bg-color-blue-one);
    color: var(--bg-color-white);
    text-align: center;
    align-items: center;
    height: 45px;
    display: flex;
}

p.price {
    margin: auto;
    padding: 0;
}

a.price {
    color: var(--bg-color-white);
    text-decoration: none;
}

img.banner {
    max-width: 100%;
}

section.cards {
    margin: 80px 16px;
    color: var(--bg-color-gray-three);
}

.card {
    margin-bottom: 20px;
}

p.card-title {
    text-transform: uppercase;
    color: var(--bg-color-black-text);
    text-align: center;
    height: 27px;
    margin: 31px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.card {
    margin: 0 42px
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 156px;
    height: 35px;
    color: var(--bg-color-white);
    border: none;

}

.quote {
    background-color: var(--bg-color-blue-one);
}

.call {
    background-color: var(--bg-color-gray-three);
}

div.social-media {
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    
}

a.social-media
img.social-media {
    text-decoration: none;
    width: 24px;
    padding: 0 10px;
    color: var(--bg-color-black-text);
    
}

footer {
    background-color: var(--bg-color-gray-one);
}

.detail {
    border: solid 1px var(--bg-color-gray-two);
    max-width: 90%;
    margin: 30px 16px;
}

.logo-alpes {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.logo-alpes {
    margin-right: 14px;
}