body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

root {
    --bg-color-white: #ffffff;
    --bg-color-gray-one: #E6E6E6;
    --bg-color-gray-two: #BBBBBB;
    --bg-color-gray-three: #666666;
    --bg-color-gray-four: #4D4D4D;
    --bg-color-black-text: #262626;
    --bg-color-black: #000000;
    --bg-color-green: #25D366;
    --bg-color-blue-one: #1C69D4;
    --bg-color-blue-two-hover: #0653B6;
}

.toggle {
    display: none;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 0px 20px 16px;
}

.box-contacts {
    display: flex;
    align-items: center;
    height: 19px;
    width: 129px;
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

img.icon {
    color: var(--bg-color-gray-three);
    width: 19px;
}

.logo {
    height: 34.5px;

}