body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-white: #ffffff;
    --bg-color-gray-one: #E6E6E6;
    --bg-color-gray-two: #BBBBBB;
    --bg-color-gray-three: #666666;
    --bg-color-gray-four: #4D4D4D;
    --bg-color-black-text: #262626;
    --bg-color-black: #000000;
    --bg-color-green: #25D366;
    --bg-color-blue-one: #1C69D4;
    --bg-color-blue-two-hover: #0653B6;
}

.toggle {
    display: none;
}

header {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 20px 20px 16px;
}

.box-contacts {
    display: flex;
    align-items: center;
    height: 19px;
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 3px;
    color: var(--bg-color-gray-three); 
}

img.icon {
    color: var(--bg-color-gray-three);
    width: 19px;
    margin-right: 10px;
}

.logo {
    margin: 13px 16px 12.5px 13px;
}
    
img.logomarca {
    height: 34.5px;   
}

section.price {
    background-color: var(--bg-color-blue-one);
    color: var(--bg-color-white);
    text-align: center;
    align-items: center;
    height: 45px;
    display: flex;
}

p.price {
    margin: auto;
    padding: 0;
}

a.price {
    color: var(--bg-color-white);
    text-decoration: none;
}

img.banner {
    max-width: 100%;
}

